<!doctype html>
<html lang="fr">
<head>
    <%- include('./header.ejs') %>
    <title> page </title>
</head>
<body>
<%- include('./navbar.ejs') %>
    <h1 class="text-center"> Page 2 </h1>
</body>
</html>
