<!doctype html>
<html lang="fr">
<head>
    <%- include('./header.ejs') %>
    <title> test </title>
</head>
<body>
<%- include('./navbar.ejs') %>
<h1 class="text-center"> Test </h1>

<p>
    <%= id %>
</p>
</body>
</html>
